@font-face {
    font-family: 'Miso Bold';
    src: url('./assets/fonts/MISO-BOL.OTF');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Miso Light';
    src: url('./assets/fonts/MISO-LIG.OTF');
    font-weight: normal;
    font-style: normal;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    max-width: 1200px;
    flex-flow: row nowrap;
    padding: 50px 15px;
    margin: 20px auto;
    background-color: #fdde7e;
}

.item {
    display: flex;
    flex: 1 0 auto; /*1 0 33%*/
    align-items: center;
    max-width: 33.33%;
    padding: 10px;
}

.flex-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    padding: 40px;
    box-shadow: 0 1px 2px 1px #d3b969
}

.item-top-description,
.item-bottom-description {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.item-top-description {
    flex: 1;
}

.price {
    font-family: 'Miso Bold';
    font-size: 70px;
    color: #02995b;
}

.item-logo {
    padding-top: 20px;
}

.item-title {
    font-family: 'Miso Light';
    font-size: 60px;
    color: #333;
    padding: 35px 0;
}

.item-description {
    width: 60%;
    align-items: self-end;
    font-family: 'Miso Light';
    font-size: 30px;
    color:#696969;
    text-align: center;
}

.center-item {
    padding: 40px 0 45px 0;
}
