@font-face {
    font-family: 'HansKendrick Regular';
    src: url('./assets/fonts/HansKendrick-Regular.otf');
    font-weight: normal;
    font-style: normal;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'HansKendrick Regular';
        text-transform: uppercase; 
    }

    body {
        background-color: #e2e7ec;
    }

    a {
        color: #000;
        text-decoration: none;
    }

    ul {
        list-style-type: none;
    }

    h4 {
        padding-top: 20px;
        font-size: 22px;
    }

    /*wrapper*/
    .wrapper {
        max-width: 1140px;
        margin: 100px auto;
    }

    /*container + item*/

    .container {
        display: flex;
        flex-flow: row wrap;
    }

    .item {
        display: flex;
        flex: 1 0 auto; /*flex: 1 0 33.33%;*/
        max-width: 33.33%;
        padding: 10px;

    }

    .item-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
    }

    .item-header {
        flex: 1;
    }


    /*main item*/
    .main-item {
        flex: 66.66%; /*2 0 66%*/
        max-width: 66.66%;
    }

    .main-item .item-header {
        flex: 0;
    }

    .main-item .item-container {
        justify-content: flex-end;
        background-image: url('./assets/img/Layer\ 8.jpg');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
    }

    .main-item .item-prev {
        height: auto;
        width: 75%;
     }

    .main-title {
         font-size: 30px;
         color: #fff;
         width:60%;
     }

     .main-item .date {
        color: rgba(255,255,255,0.5);
    }

    /*item*/

    .item-prev {
        padding: 25px;
    }

    .main-img {
        width: 100%;
    }

    .item-date {
        min-height: 17px;
    }

    .date {
        font-size: 13px;
        color: #818181; 
    }

   .item-bottom-info {
        padding: 25px;
        border-radius: 50%;
   }

    /*paginnation*/

    .paginnation {
        display: flex;
        justify-content: center;
        align-items:center;
        padding-top: 75px;
    }

    .loading {
        margin: 13px;
    }

    .paginnation h4 {
        padding: 0;
        font-size: 13px;
        color: #99a5b0;
    }