* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.form-wrapper {
    padding: 30px;
}

.login-wrapper {
    padding: 50px 0 35px;
}

.form {
    position: relative;
    width: 400px;
    height: 495px;
    background: url(./assets/img/form-bg.jpg) 50% no-repeat;
    /* background: linear-gradient(58deg, rgb(48,35,174) 0%, rgb(124,72,195) 53%, rgb(200,109,215) 100%); */
    padding: 50px 70px;
    box-shadow: 0 50px 50px grey;
}

/* .overlay::before {
    position: absolute;
    content:" ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: block; */
    /* background: linear-gradient(58deg, rgb(48,35,174) 0%, rgb(124,72,195) 53%, rgb(200,109,215) 100%); */
    /* opacity: 0.5; 
  }*/

.form-menu {
    display: flex;
}

.form-menu__item {
    padding-right: 25px;
}

.btn-wrapper {
    padding-top: 40px;
}

.form-menu__link {
    font-size: 18px;
    font-weight: 700;
    padding: 4px 0;
}

.active .form-menu__link{
    border-bottom: 2px solid #e66a64;
}


.form__label {
    display: block;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}

.form__input {
    width: 261px;
    height: 42px;
    margin: 10px 0 18px;
    border: 2px solid #9f87c9;
    background-color: transparent;
}

.form__label--checkbox {
    font-size: 13px;
    text-transform: none;
}

[type="checkbox"] {
    position: relative;
    margin-right: 7px;
}

.checkbox::after {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    content: '✓';
    font-size: 13px;
    z-index: 99;
    opacity: 1;
    background-color: #23ae92;
    color: #fff;   
}

.btn {
    background-color: #23ae92;
    border: none;
    padding: 12px 100px;
    font-size: 18px;
}

.btn:hover {
    cursor: pointer;
}
  




.form-additional {
    display: flex;
    justify-content: space-between;

    font-size: 13px;
    opacity: 0.5;
}

.form-additional__item {
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}



