* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oxygen Mono', monospace;
    color: #fff;
}

a {
    text-decoration: none;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./assets/img/background.jpg') 50% no-repeat;
    height: 600px;
    width: 100%;
    margin-top: 30px;
}

.wrapper-right {
    width: 33%;
}

.item {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 20px;
    background-color: #111a28;
    border-radius: 10px;
    box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.82);
    z-index: 2;
}

.item-wrapper {
    display: flex;
    justify-content: space-around;
    min-height: 310px;
}

.item-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.pagination__controls {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #1f273f;
    margin: 5px;
}

.pagination__controls:hover {
    cursor: pointer;
}

.pagination__controls--active {
    border: 2px solid #7b8088;
    box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.82);
    box-sizing: unset;
}

.pagination__controls--white {
    background-color: #fff;
}

.pagination__controls--red {
    background-color: #ed3333;
}

.pagination__controls--blue {
    background-color: #29e3ea;
}


.item-properties__name {
    font-size: 24px;
    color: #e1e1e1;
}

.item-properties__subname {
    font-size: 14px;
    opacity:0.541;
}

.rate {
    display: flex;
    padding: 25px 0;
}

.rate .material-icons {
    font-size: 17px;
}

.rate__icon {
    color: #f7bf16;
}

.rate-empty {
    opacity:0.541;
}

.variations {
    display: flex;
    padding-bottom: 30px;

}

.variations__item {
    width: 69px;
    height: 32px;
    opacity: 0.541;
    font-size: 12px;
    border: 1px solid rgba(255,255,255, 0.541);
    padding: 9px 0 0 12px;
    margin: 1px;
}

.variations__item:hover {
    cursor: pointer;
}

/*button*/
.button {
    background-color: rgba(76, 82, 90, 0.259);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255,255,255, 0.541);
    padding: 12px 57px 13px 53px;
}

.button:hover {
    cursor: pointer;
}

.button__link {
    opacity: 0.541;
}