* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style-type: none; }

/*------------------variables------------------*/
/*------------------mixins------------------*/
.container {
  width: 1170px;
  max-width: 100%;
  padding: 30px;
  margin: 0 auto; }

/*logo*/
.logo__link {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase; }
  .logo__link--large {
    font-size: 48px;
    letter-spacing: 10px; }
    @media only screen and (max-width: 500px) {
      .logo__link--large {
        font-size: 36px; } }

.logo__desc {
  font-family: "Aleo", serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 15px 0; }
  .logo__desc--large {
    padding: 20px 0;
    font-size: 24px;
    letter-spacing: 9px;
    opacity: 0.8; }

/*end of logo*/
/*btn*/
.btn-container {
  padding: 30px 0; }

.btn {
  min-width: 225px;
  padding: 25px;
  background: linear-gradient(45deg, #496bfe 50%, #5474fd 50%);
  border: none;
  font-family: "Aleo", serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.3s ease-in-out; }
  .btn--input {
    min-width: 150px;
    max-height: 56px;
    padding-top: 15px;
    background: #5474fd;
    outline: 2px solid white; }
    .btn--input::after {
      content: '\f002';
      font-family: 'FontAwesome';
      font-size: 20px;
      margin-left: 15px; }
    .btn--input:hover, .btn--input:active, .btn--input:focus {
      background: #999;
      outline: 2px solid white; }
    @media only screen and (max-width: 700px) {
      .btn--input {
        max-width: 110px; } }
  .btn:hover, .btn:active, .btn:focus {
    cursor: pointer;
    opacity: 0.8; }

/*end of btn*/
/*title*/
.title {
  padding: 30px 0 25px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase; }
  .title--large {
    padding: 50px 0;
    font-family: "Aleo", serif;
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize; }
    @media only screen and (max-width: 768px) {
      .title--large {
        font-size: 20px;
        font-weight: 700; } }

/*end of title*/
/*header*/
.header {
  height: 100vh;
  background: url(./assets/img/header.jpg) 50% no-repeat;
  background-size: cover; }

.header-main {
  height: 100%; }
  .header-main .container {
    height: 100%; }
    .header-main .container .header-content {
      text-align: center;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }

.form-wrapper {
  max-width: 650px;
  margin: 0 auto;
  padding: 30px 0; }
  @media only screen and (max-width: 700px) {
    .form-wrapper {
      max-width: 100%; } }
  .form-wrapper .search-form {
    display: flex;
    align-items: center;
    width: 100%; }
    .form-wrapper .search-form__input {
      height: 60px;
      width: 500px;
      max-width: 100%;
      padding: 25px 0;
      font-family: "Josefin Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #999;
      text-transform: capitalize;
      text-align: center; }
    @media only screen and (max-width: 500px) {
      .form-wrapper .search-form {
        flex-direction: column; } }

.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 33%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  opacity: 0.7; }
  .scroll__desc {
    padding: 15px; }

.main-menu {
  transform: translateY(-100%);
  background-color: #5474fd; }
  .main-menu .nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .main-menu .nav .menu {
      display: flex; }
      .main-menu .nav .menu__item {
        padding: 0 20px;
        font-family: "Aleo", serif;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        transition: all 0.2s ease-in-out; }
        .main-menu .nav .menu__item:hover, .main-menu .nav .menu__item:active, .main-menu .nav .menu__item:focus {
          cursor: pointer;
          color: #232323; }
        @media only screen and (max-width: 768px) {
          .main-menu .nav .menu__item {
            padding: 0 10px; } }

/*end  of header*/
/*main*/
.description {
  background: url(./assets/img/bgr1.jpg) 50% no-repeat;
  background-size: cover;
  min-height: 680px; }

.description-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }
  .description-container .block--transparent {
    background-color: transparent; }
    @media only screen and (max-width: 768px) {
      .description-container .block--transparent {
        width: 100%; } }
    .description-container .block--transparent__desc {
      padding: 15px 10px 15px 0;
      font-family: "Josefin Sans", sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      text-transform: none;
      line-height: 26px;
      text-align: justify;
      opacity: 0.8; }
  .description-container .image-block {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 50%; }
    @media only screen and (max-width: 768px) {
      .description-container .image-block {
        width: 100%; } }
    .description-container .image-block__right {
      width: 350px;
      height: 220px;
      background: url(./assets/img/Image1.jpg) 50% no-repeat;
      background-size: cover; }
    .description-container .image-block__left {
      width: 350px;
      height: 220px;
      background: url(./assets/img/header.jpg) 50% no-repeat;
      background-size: cover;
      align-self: flex-end; }

.icon-svg {
  max-width: 62px;
  max-height: 62px; }

.icons {
  background-color: #333; }

.list-icon {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .list-icon__item {
    margin: 0 auto;
    text-align: center; }

.content {
  min-height: 700px; }

.content--first {
  background: url(./assets/img/bgr2.jpg) 50% no-repeat;
  background-size: cover; }

.content--second {
  background: url(./assets/img/bgr3.jpg) 50% no-repeat;
  background-size: cover; }

.block-wrapper {
  width: 50%; }
  .block-wrapper--left {
    float: right; }

.block {
  width: 100%;
  min-height: 370px;
  padding: 25px;
  background-color: #353535;
  opacity: 0.92; }
  .block__subtitle {
    padding: 25px 0;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize; }
  .block__desc {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    line-height: 26px; }
