* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/*------------------variables------------------*/
$font-primary: 'Aleo', serif;
$font-secondary: 'Josefin Sans', sans-serif;
$fsize-primary: 14px;
$fsize-title: 20px;
$fsize-title-large: 36px;
$fsize-text: 16px;
$weight-regular: 400;
$weight-bold: 700;
$uppercase: uppercase;
$capitalize: capitalize;
$color-basic: #fff;
$color-primary: #5474fd;
$color-secondary: #999;
$color-bgr: #333;
$color-block:#353535;
$color-footer: #232323;

$tablet-screen-width: 768px;
$phablet-screen-width: 700px;
$mobile-screen-width: 500px;

/*------------------mixins------------------*/
@mixin font($font, $size, $weight, $color, $transform) { 
        font-family: $font;
        font-size: $size;
        font-weight: $weight;
        color: $color;   
        text-transform: $transform;
}

@mixin tablet {
    @media only screen and (max-width: #{$tablet-screen-width}) {
        @content;
    }
}

@mixin phablet {
    @media only screen and (max-width: #{$phablet-screen-width}) {
        @content;
    }
}

@mixin mobile {
    @media only screen and (max-width: #{$mobile-screen-width}) {
        @content;
    }
}

.container {
    width: 1170px;
    max-width: 100%;
    padding:  0 30px;
    margin: 0 auto;

    @include phablet {
        padding: 0 15px;
    }
}

/*logo*/
.logo {

    &__link {
        @include font($font-secondary, $fsize-title, $weight-bold, $color-basic, $uppercase);
    
        &--large {
            font-size: 48px;
            letter-spacing: 10px;

            @include mobile {
                font-size: $fsize-title-large;
            }
        }
    }

    &__desc {
        @include font($font-primary, $fsize-primary, $weight-regular, $color-basic, $capitalize);
        padding: 15px 0;
   
        &--large {
            padding: 20px 0;
            font-size: 24px;
            letter-spacing: 9px;
            opacity: 0.8; 
        }
    }
}
/*end of logo*/


/*btn*/
.btn-container {
    padding: 30px 0;
}

.btn {
    min-width: 225px;
    padding: 25px;
    background: linear-gradient(45deg, rgb(73, 107, 254) 50%, rgb(84, 116, 253) 50%);
    border: none;
    @include font($font-primary, $fsize-text, $weight-regular, $color-basic, $uppercase);
    text-align: center;
    transition: all 1s ease-in-out;
    

    &:hover,
    &:active,
    &:focus {
        cursor: pointer;
        background: linear-gradient(-45deg, rgb(73, 107, 254) 50%, rgb(84, 116, 253) 50%);
    }

    &--input {
        min-width: 150px;
        max-height: 56px;
        padding-top: 15px;
        background: $color-primary;
        outline: 2px solid white;
   
        &::after {
            content: '\f002';
            font-family: 'FontAwesome';
            font-size: $fsize-title;
            margin-left: 15px;
        }

        &:hover,
        &:active,
        &:focus {
            background: $color-secondary;
            outline: 2px solid white;
        }

        @include phablet {
            max-width: 110px;
        }
    }
}
/*end of btn*/

/*title*/
.title {
    padding-bottom: 45px;
    @include font($font-primary, $fsize-title-large, $weight-regular, $color-basic, $capitalize);

    @include tablet {
        font-size: $fsize-title;
        font-weight: $weight-bold;
    }
}
/*end of title*/


/*header*/
.header {
    position: relative;
    height: 100vh;
    background: url(./assets/img/header.jpg) 50% no-repeat;
    background-size: cover;
}

.header-main {
    height: 100%;
    
    .container {
        height: 100%;

        .header-content {
            text-align: center;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.form-wrapper {
    max-width: 650px;
    margin: 0 auto;
    padding: 30px 0;

    @include phablet {
        max-width: 100%;
    }

    .search-form {
        display: flex;
        align-items: center;
        width: 100%;

        &__input {
            height: 60px;
            width: 500px;
            max-width: 100%;
            padding: 25px 0;
            @include font($font-secondary, $fsize-primary, $weight-regular, $color-secondary, $capitalize);
            text-align: center;
        }

        @include mobile {
            flex-direction: column;
        }
    }
}

.scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 33%;
    @include font($font-secondary, $fsize-primary, $weight-regular, $color-basic, $capitalize);
    opacity: 0.7;

    &__desc {
        padding: 15px;
    }
}

.main-menu {
    padding: 35px 0;
    transform: translateY(-100%);
    background-color: $color-primary;

    .nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .menu {
            display: flex;
    
            &__item {
                padding: 0 20px;
                @include font($font-primary, $fsize-primary, $weight-regular, $color-basic, $uppercase);
                text-align: center;
                transition: all 0.3s ease-in-out;

                &:hover,
                &:active,
                &:focus {
                    cursor: pointer;
                    color: $color-footer;
                }
            }

            @include tablet {
                position: absolute;
                top: 30px;
                height: 0;
                transform: translateY(-100%);
                background-color: $color-basic;
                color: $color-bgr;
                overflow: hidden;
                transition: height 0.4s; 

                .menu__item {
                    padding: 15px;
                    color: $color-bgr;

                    &:hover,
                    &:active {
                        color: $color-primary;
                    }
                }
            }

            @include tablet {
                &:hover,
                &:active {
                   flex-direction: column;
                   width: 100%;
                   height: 200px;
                   border-radius: 9px;
                   text-align: center;
               }
           }
        }
    }
}

.toggler {
    display: none;
    position: absolute;
    right: 15px;
    width: 42px;
    height: 42px;

    .fas {
        font-size: 42px;
        color: $color-basic;
    }

    @include tablet  {
        display: block;

        &:hover + .menu,
        &:active + .menu {
            // position: absolute;
            flex-direction: column;
            width: 100%;
            height: 200px;
            border-radius: 9px;
            transform: translateY(-100%);
            background-color: $color-basic;
        }
    }
}
/*end  of header*/


/*main*/
.description {
    min-height: 680px;
    padding: 120px 0;
    background: url(./assets/img/bgr1.jpg) 50% no-repeat;
    background-size: cover;
}

.description-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    .image-block {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        width: 50%;

        @include tablet {
            width: 100%;
        }

        &__right {
            width: 350px;
            height: 220px;
            background: url(./assets/img/Image1.jpg) 50% no-repeat;
            background-size: cover;
            
            @include mobile {
                width: 100%;
            }
        }

        &__left {
            width: 350px;
            height: 220px;
            background: url(./assets/img/header.jpg) 50% no-repeat;
            background-size: cover;
            align-self: flex-end;
        
            @include mobile {
                width: 100%;
            }
        }
    }
}

.icon-svg {
    max-width: 62px;
    max-height: 62px;
}

.icons {
    padding: 100px 0 90px;
    background-color: $color-bgr;
}

.list-icon {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // background: url(./assets/img/Shape.png) 50% no-repeat;

    &__item {
        margin: 0 auto;
        text-align: center;

        .title {
            padding: 30px 0;           
        }
    }
}

// .shape {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background: url(./assets/img/Shape.png) 50% no-repeat;
// }

.content {
    min-height: 700px;
    padding: 230px 0 100px;

    &--first {
        background: url(./assets/img/bgr2.jpg) 50% no-repeat;
        background-size: cover;
    }

    &--second {
        background: url(./assets/img/bgr3.jpg) 50% no-repeat;
        background-size: cover;
    }
}

.block-wrapper {
    width:50%;

    @include tablet {
        width: 100%;
    }

    &--left {
        float: right;
    }
}

.block {
    width: 100%;
    min-height: 370px;
    padding: 25px;
    background-color: $color-block;
    opacity: 0.9;

    &__subtitle {
        padding: 25px 0;
        @include font($font-secondary, $fsize-title, $weight-regular, $color-basic, $capitalize);
        opacity: 0.9;
    }

    &__title {
        padding: 30px 0 25px;
        @include font($font-secondary, $fsize-title, $weight-regular, $color-basic, $uppercase);
   
        @include tablet {
            font-size: $fsize-title;
            font-weight: $weight-bold;
        }
    }

    &__desc {
        @include font($font-secondary, $fsize-text, $weight-regular, $color-basic, $capitalize);
        line-height: 26px;
        opacity: 0.9;
    }

    &--transparent {
        background-color: transparent;
    
        .block__desc {
            padding: 15px 0;
            text-align: justify;
        }
    }
}

.quotations {
    min-height: 730px;
    padding: 120px 0;
    background: url(./assets/img/bgr4.jpg) 50% no-repeat;
    background-size: cover;

    .title {
        text-align: center;
    }
}

.quote {
    display: flex;
    height: 285px;

    @include tablet {
        flex-direction: column;
        min-height: 570px;
    }

    @include mobile {
        height: auto;
    }

    &__left {
        width: 40%;

        @include tablet {
            width: 100%;
            height: 285px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        background: url(./assets/img/Image2.jpg) 50% no-repeat;
        background-size: cover;
    }

    &__right {
        width: 60%;
        overflow: hidden;

        @include tablet {
            width: 100%;
        }

        .fas {
            margin-top: 35px;
            padding-right: 10px;
            transform: translateY(-100%);
            color: $color-primary;  
        }
    }
}
/*end of main*/

/*footer*/
.footer-info {
    padding: 120px 0 55px;
    background-color: $color-footer;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;

    &__item {
        padding: 12px;
        color: $color-basic;
        transition: all 0.3s ease-in-out;

        &:hover  {
            cursor: pointer;
            color: $color-primary;
        }

        &--active {
            color: $color-primary;
        }
    }
}
     
.social:hover .social__item:not(:hover) {
    color: $color-basic;
    cursor: pointer;
}





