* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.header-wrapper {
    height: 1072px;
    min-height: 100%;
}
.header {
    position: relative;
    background: url(./assets/img/hero-bg.jpg);
    background-position: top right;
    background-size: cover;
    height: 100%;
}

.header-scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.logo--light .icon {
    fill: #fff;
}

.header__description {
    font-size: 15px;
    line-height: 29px;
    color: #fff;
    text-transform: uppercase;
}

.inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    padding: 130px 0;
}

.inner-wrapper--header {
    padding: 90px 130px 50px 140px;
    text-align: center;
}

.inner-wrapper--header .icon-wrapper {
    padding-top: 0;
}

/*SVG*/

.icon-wrapper {
    padding-top: 110px;
}

.icon {
    max-width: 80px;
    height: 91px;
    fill: #3c3c3c;
}

#pen, 
#tag,
#check {
    width: 79px;
    /* height: 76px; */
}

.title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 34px;
    letter-spacing: 8px;
}



/*MAIN*/
.block {
    position: relative;
    color:#3c3c3c;
    padding: 75px 130px 25px 140px;
    border: 2px solid #3c3c3c;
    border-top: none;
    text-align: center;
}

.block--long {
    padding-top: 0;
}

.block:before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 2px;
    background-color: #3c3c3c;
}

.block:after {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    width: 240px;
    height: 2px;
    background-color: #3c3c3c;
}


.block__description {
    font-size: 16px;
    line-height: 24px;
}

.block--light {
    border: 2px solid #fff;
    border-top: none;
}

.title--light,
.block__description--light {
    color: #fff;
    margin-top: 90px;
}

.title--header {
    position: relative;
}

.title-gallery {
        padding: 40px;
    font-size: 34px;
    letter-spacing: 8px;
    color: #fff;
    text-transform: uppercase;
}

.block--light::after,
.block--light::before {
    background-color: #fff;
}

.title--small {
    position: relative;
    font-size: 20px;
    margin: 40px 0 30px;
}

.block__description--small {
    font-size: 14px;
}

.service-wrapper {
    background: url(./assets/img/services.jpg) 50% no-repeat;
    background-size: cover;
}

/*gallery*/
.gallery {
    display: flex;
    flex-flow: row wrap;
}

.gallery-item-container {
    display: flex;
    flex: 1 0 auto;
    height: 237px;
    width: 30%;
    padding-top: 9px;
}

.gallery-item-container--large {
    width: 40%;
    padding-left: 9px;
    padding-right: 9px;
}

.gallery__item {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.img1 {
    background: url(./assets/img/Layer1.jpg) 50% no-repeat;
}

.img2 {
    background: url(./assets/img/Layer2.jpg) 50% no-repeat;
}

.img3 {
    background: url(./assets/img/Layer3.jpg) 50% no-repeat;
}

.img4 {
    background: url(./assets/img/Layer4.jpg) 50% no-repeat;
}

.img5 {
    background: url(./assets/img/Layer5.jpg) 50% no-repeat;
}

.img6 {
    background: url(./assets/img/Layer6.jpg) 50% no-repeat;
}


/*btn*/

.btn-wrapper {
    padding: 40px 25px;
}

.btn {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    background-color: #3c3c3c;
    padding: 20px 135px;
    border: none;
}

.btn:hover {
    cursor: pointer;
}

/*FOOTER*/
.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrapper .icon-wrapper {
    padding-top: 0;
}

.copyright {
    font-size: 14px;
    padding-left: 35px;
}