$font-logo:'Codystar', cursive;
$font-primary: 'days_one';
$font-title: 'sw_foxes', sans-serif;
$fsize-primary: 14px;
$fsize-secondary: 16px;
$fsize-modal: 20px;
$fsize-logo: 40px;
$weight-regular: 400;
$uppercase: uppercase;
$color-basic: #fff;
$color-primary: #FDBD13;
$color-secondary: #770FE8;
$color-nav: #171B27;

$tablet-screen-width: 980px;
$phablet-screen-width: 768px;
$mobile-screen-width: 500px;