* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

body {
  width: 100%;
  background: url(../assets/img/backgroundAll.jpg) 50% no-repeat;
  background-size: cover; }

.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 15px; }

.btn {
  min-width: 205px;
  max-width: 255px;
  padding: 18px 30px;
  border: 2px solid #FDBD13;
  background-color: transparent;
  border-radius: 30px;
  font-family: "days_one";
  font-size: 20px;
  color: #FDBD13;
  text-transform: uppercase;
  text-align: center;
  line-height: 25px;
  transition: all 0.2s linear; }
  .btn:hover, .btn:focus {
    cursor: pointer;
    outline: none;
    background: rgba(253, 189, 19, 0.15); }
  .btn a {
    color: #FDBD13; }

.btn-container--img {
  position: absolute;
  left: calc(100% - 517px);
  z-index: 10; }
  @media only screen and (max-width: 1170px) {
    .btn-container--img {
      top: 30px; } }
  @media only screen and (max-width: 768px) {
    .btn-container--img {
      top: 30px;
      left: calc(100% - 380px); } }
  @media only screen and (max-width: 590px) {
    .btn-container--img {
      left: auto; } }

.btn-container--modal {
  transform: translateY(100%);
  align-self: flex-end;
  margin: 0 auto;
  z-index: 10; }

@font-face {
  font-family: 'sw_foxes';
  src: local("sw_foxes_regular"), url("../assets/font/sw_foxes_regular.ttf") format("truetype"); }

@font-face {
  font-family: 'days_one';
  src: local("days_one"), url("../assets/font/days_one.ttf") format("truetype"); }

body {
  width: 100%;
  background: url(../assets/img/backgroundAll.jpg) 50% no-repeat;
  background-size: cover; }

.header {
  height: 100vh;
  background: url(../assets/img/spiral_header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 100%; }
  .header .container {
    display: flex;
    justify-content: space-between;
    height: 100%; }
    @media only screen and (max-width: 1170px) {
      .header .container {
        flex-direction: column; } }

.header-section {
  height: 100%; }
  .header-section__left {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%; }
  .header-section__right {
    display: flex;
    justify-content: center;
    max-width: 470px; }
    @media only screen and (max-width: 590px) {
      .header-section__right {
        position: relative;
        flex: 1;
        max-width: 100%; } }
    .header-section__right .main-image {
      position: absolute;
      top: 60px;
      right: 0; }
      .header-section__right .main-image img {
        width: 100%; }
      @media only screen and (max-width: 768px) {
        .header-section__right .main-image {
          width: 200px; } }
      @media only screen and (max-width: 590px) {
        .header-section__right .main-image {
          display: none; } }

.header-slogan {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  height: 100%;
  padding: 30px 0; }
  .header-slogan__title {
    font-family: "sw_foxes", sans-serif;
    font-size: 57px;
    color: #FDBD13;
    text-transform: uppercase;
    line-height: 97px;
    font-weight: 400; }
    @media only screen and (max-width: 590px) {
      .header-slogan__title {
        font-size: 30px;
        line-height: 60px; } }
  .header-slogan__subtitle {
    font-family: "days_one";
    font-size: 28px;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    line-height: 36px; }
    @media only screen and (max-width: 590px) {
      .header-slogan__subtitle {
        font-size: 20px; } }
  @media only screen and (max-width: 1170px) {
    .header-slogan {
      width: 50%;
      justify-content: flex-end; } }
  @media only screen and (max-width: 768px) {
    .header-slogan {
      width: 100%;
      justify-content: flex-end; } }

.logo {
  font-family: "Codystar", cursive;
  font-size: 40px;
  color: #FDBD13;
  text-transform: uppercase; }
  .logo--footer {
    color: #770FE8; }
    .logo--footer:hover, .logo--footer:focus, .logo--footer:active {
      cursor: pointer; }

/*main*/
.main {
  transform: translateY(-165px);
  width: 100%; }

.modal-section {
  height: 1115px;
  background: url(../assets/img/background2-1.png) 50% no-repeat;
  background-size: cover; }
  .modal-section .container {
    height: 100%; }

.navigation {
  display: flex;
  align-items: center;
  height: 100%; }
  @media only screen and (max-width: 1170px) {
    .navigation {
      flex-direction: column;
      padding-top: 165px; } }
  .navigation__left {
    width: 40%; }
    @media only screen and (max-width: 1170px) {
      .navigation__left {
        width: 100%;
        padding-bottom: 100px; } }

.menu {
  display: flex;
  flex-flow: column wrap;
  height: 400px;
  justify-content: center; }
  @media only screen and (max-width: 1170px) {
    .menu {
      flex-flow: row wrap;
      height: auto; } }
  .menu__item {
    width: 190px;
    height: 72px;
    padding: 0 36px;
    margin: 12px;
    background-color: #171B27;
    border-radius: 25px;
    line-height: 16px;
    text-align: center;
    transition: 0.3s linear; }
    .menu__item:hover, .menu__item:focus, .menu__item:active {
      cursor: pointer;
      background-color: #770FE8; }
  .menu .active {
    background-color: #770FE8; }
  .menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: "days_one";
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    transition: 0.3s linear; }
    .menu__link:hover, .menu__link:focus, .menu__link:active {
      cursor: pointer;
      color: #fff; }
  .menu .active .menu__link {
    color: #fff; }

.preview-container {
  position: absolute;
  right: 0;
  max-width: 760px;
  width: 100%; }

.preview {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  min-height: 330px;
  padding: 35px;
  background-color: #770FE8;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px; }
  @media only screen and (max-width: 590px) {
    .preview {
      flex-direction: column; } }
  .preview__desc {
    min-width: 230px;
    width: 100%; }
    @media only screen and (max-width: 590px) {
      .preview__desc {
        width: 100%; } }
  .preview__text {
    padding: 15px;
    font-family: "days_one";
    font-size: 16px;
    color: rgba(255, 255, 255, 0.85);
    text-transform: none;
    line-height: 24px; }
  .preview__image-container {
    position: absolute;
    bottom: 50px;
    right: 30px;
    height: 100%; }
    @media only screen and (max-width: 590px) {
      .preview__image-container {
        display: none; } }
  .preview__image {
    position: relative;
    width: 430px;
    padding: 15px; }
  .preview__pic {
    position: absolute;
    transform: translate(25%, 25%);
    z-index: 2; }
  .preview__animated {
    position: absolute; }
  .preview__animation {
    position: absolute;
    left: 25px;
    top: 25px;
    height: 240px;
    opacity: 0.4; }

.preview--phone {
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%; }
  .preview--phone__text {
    font-family: "days_one";
    font-size: 20px;
    color: rgba(255, 255, 255, 0.85);
    text-transform: uppercase; }
  .preview--phone span {
    padding: 0 15px;
    font-family: "days_one";
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: none; }
  .preview--phone__input {
    height: 39px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 0 10px;
    border-radius: 10px;
    background: transparent;
    font-family: "days_one";
    font-size: 20px;
    color: rgba(255, 255, 255, 0.85);
    text-transform: none;
    letter-spacing: 0.05em;
    text-align: center;
    outline: none; }
    .preview--phone__input:focus, .preview--phone__input:active, .preview--phone__input:hover {
      cursor: pointer;
      letter-spacing: 10px;
      color: rgba(255, 255, 255, 0.5);
      font-weight: 200; }
  .preview--phone input::placeholder {
    letter-spacing: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 200;
    padding: 15px; }

.preview--done {
  justify-content: center;
  align-items: center;
  background: url(../assets/img/spiral_modal.png), #770FE8;
  background-repeat: no-repeat;
  background-position: 50%;
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%; }
  .preview--done__text {
    font-family: "days_one";
    font-size: 30px;
    color: #FDBD13;
    text-transform: uppercase; }

/*info-block*/
.info-block {
  min-height: 915px; }
  @media only screen and (max-width: 590px) {
    .info-block {
      padding-top: 220px; } }

.info-desc__title {
  font-family: "days_one";
  font-size: 50px;
  color: #FDBD13;
  text-transform: uppercase; }
  @media only screen and (max-width: 590px) {
    .info-desc__title {
      font-size: 30px; } }

.info-desc__subtitle {
  font-family: "days_one";
  font-size: 80px;
  color: transparent;
  text-transform: uppercase;
  text-shadow: 0px 0px 1px rgba(253, 189, 19, 0.5); }
  @media only screen and (max-width: 590px) {
    .info-desc__subtitle {
      font-size: 30px; } }

.instruction {
  width: 100%; }
  .instruction__animation {
    width: 100%; }
    .instruction__animation img {
      width: 80%;
      transform: translateX(-180px); }
      @media only screen and (max-width: 1170px) {
        .instruction__animation img {
          width: 100%;
          transform: translateX(0); } }
  .instruction__desk {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 20px; }
  .instruction__item-container--second {
    transform: translateY(-35px); }
  .instruction__item-container--third {
    transform: translateY(-70px); }
  .instruction__item-container--fourth {
    transform: translateY(-150%); }
  @media only screen and (max-width: 1170px) {
    .instruction__item-container {
      transform: translateY(0);
      padding: 40px; } }
  .instruction__item {
    position: relative;
    width: 250px;
    height: 250px; }
    .instruction__item img {
      width: 100%;
      border-radius: 20px; }
  .instruction__number {
    position: absolute;
    top: -60px;
    left: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: #FDBD13;
    font-family: "days_one";
    font-size: 30px;
    color: #fff;
    text-transform: uppercase; }
    @media only screen and (max-width: 590px) {
      .instruction__number {
        top: -30px;
        left: -30px; } }
  .instruction__text {
    position: absolute;
    right: 0;
    transform: translateY(-100%);
    width: 200px;
    padding: 20px 0;
    font-family: "days_one";
    font-size: 14px;
    color: #FDBD13;
    text-transform: uppercase;
    text-align: center;
    border-top: 2px solid #FDBD13; }

/*footer*/
.footer {
  min-height: 915px;
  background: url(../assets/img/spiral_footer.png) 50% no-repeat;
  background-position-y: 100%;
  background-size: contain; }

.commercial {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  align-items: center; }
  .commercial__item {
    height: 100%; }
  .commercial .row-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 435px;
    max-width: 100%;
    transform: translateY(-50%); }
  .commercial .row-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    max-width: 100%;
    transform: translateY(-50%); }
  .commercial__animation {
    display: flex;
    justify-content: center; }

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .footer-info .copyright {
    max-width: 380px;
    font-family: "Roboto";
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
    text-transform: none;
    font-weight: 200;
    line-height: 18px;
    text-align: right; }

header,
main,
footer {
  overflow: hidden; }
