@import 'variables';
@import 'mixin';
@import 'layouts';
@import 'btn';
@import 'toggle';

@font-face {
	font-family: 'sw_foxes';
	src: local('sw_foxes_regular'), url('../assets/font/sw_foxes_regular.ttf') format('truetype');
}

@font-face {
	font-family: 'days_one';
	src: local('days_one'), url('../assets/font/days_one.ttf') format('truetype');
}

body {
    width: 100%;
    background: url(../assets/img/backgroundAll.jpg) 50% no-repeat;
    background-size: cover;
}

.header {
    // position: relative;
    height: 100vh;
    background: url(../assets/img/spiral_header.png);
    background-size:  cover;
    background-repeat: no-repeat;
    background-position-y: 100%;

    .container {
        display: flex;
        justify-content: space-between;
        height: 100%;

        @include tablet {
            flex-direction: column;
        }
    }
}

.header-section {
    height: 100%;

    &__left {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
    }
 
    &__right {
        display: flex;
        justify-content: center;
        max-width: 470px;

        @include mobile {
            position: relative;
            flex: 1;
            max-width: 100%;
        }

        .main-image {
            position: absolute;
            top: 60px;
            right: 0;

            img {
                width: 100%;
            }

            @include phablet {
                width: 200px;
            }

            @include mobile {
                display: none;
            }
        }
    }
}

.header-slogan {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    height: 100%;
    padding: 30px 0;

    &__title {
        @include font($font-title, 57px, $color-primary, $uppercase);
        line-height: 97px;
        font-weight: 400;

        @include mobile {
            font-size: 30px;
            line-height: 60px;
        }
    }
    &__subtitle {
        @include font($font-primary, 28px, rgba(255, 255, 255, 0.7), $uppercase);
        line-height: 36px;

        @include mobile {
            font-size: 20px;
        }
    }

    
    @include tablet {
        width: 50%;
        justify-content: flex-end;
    }

    @include phablet {
        width: 100%;
        justify-content: flex-end;
    }
}

.logo {
    @include font($font-logo, $fsize-logo, $color-primary, $uppercase);

    &--footer {
        color: $color-secondary;

        &:hover,
        &:focus,
        &:active {
            cursor: pointer;
        }
    }
}

/*main*/
.main {
    transform: translateY(-165px);
    width: 100%;
}

.modal-section {
    height: 1115px;
    background: url(../assets/img/background2-1.png) 50% no-repeat;
    background-size: cover;

    .container {
        height: 100%;
    }
}

.navigation {
    display: flex;
    align-items: center;
    height: 100%;

    @include tablet {
        flex-direction: column;
        padding-top: 165px;
    }

    &__left {
        width: 40%;

        @include tablet {
            width: 100%;
            padding-bottom: 100px;
        }
    }
}

.menu {
    display: flex;
    flex-flow: column wrap;
    height: 400px;
    justify-content: center;

    @include tablet {
        flex-flow: row wrap;
        height: auto;
    }

    &__item {
        width: 190px;
        height: 72px;
        padding: 0 36px;
        margin: 12px;
        background-color: $color-nav;
        border-radius: 25px;
        line-height: 16px;
        text-align: center;
        transition: 0.3s linear;

        &:hover,
        &:focus,
        &:active {
            cursor: pointer;
            background-color: $color-secondary;
        }
    }

    .active {
        background-color: $color-secondary;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        @include font($font-primary, $fsize-primary, rgba(255, 255, 255, 0.4), $uppercase);
        transition: 0.3s linear;

        &:hover,
        &:focus,
        &:active {
            cursor: pointer;
            color: $color-basic;
        }
    }

    .active .menu__link {
        color: $color-basic;
    }
}

.preview-container {
    position: absolute;
    right: 0;
    max-width: 760px;
    width: 100%;
}

.preview {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 330px;
    padding: 35px;
    background-color: $color-secondary;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    @include mobile {
        flex-direction: column;
    }

    &__desc {
        min-width: 230px;
        width: 100%;

        @include mobile {
            width: 100%;
        }
    }

    &__text {
        padding: 15px;
        @include font($font-primary, $fsize-secondary, rgba(255, 255, 255, 0.85), none);
        line-height: 24px;
    }

    &__image-container {
        position: absolute;
        bottom: 50px;
        right: 30px;
        height: 100%;

        @include mobile {
            display: none;
        }
    }

    &__image {
        position: relative;
        width: 430px;
        padding: 15px;
    }

    &__pic {
        position: absolute;
        transform: translate(25%, 25%);
        z-index: 2;
    }

    &__animated {
        position: absolute;
    }

    &__animation {
        position: absolute;
        left: 25px;
        top: 25px;

        height: 240px;
        opacity: 0.4;
    }
}

.preview--phone {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%;

    &__text {
        @include font($font-primary, $fsize-modal, rgba(255, 255, 255, 0.85), $uppercase);
    }

    span {
        padding: 0 15px;
        @include font($font-primary, $fsize-modal, rgba(255, 255, 255, 0.5), none);
    }

    &__input {
        height: 39px;
        border: 2px solid rgba(255, 255, 255, 0.3);
        padding: 0 10px;
        // box-sizing: border-box;
        border-radius: 10px;
        background: transparent;
        @include font($font-primary, $fsize-modal, rgba(255, 255, 255, 0.85), none);
        letter-spacing: 0.05em;
        text-align: center;
        outline: none;

        &:focus,
        &:active,
        &:hover {
            cursor: pointer;
            
            letter-spacing: 10px;
            color: rgba(255, 255, 255, 0.5);
            font-weight: 200;
        }
    }

    input::placeholder {
        letter-spacing: 10px;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 200;
        padding: 15px;
    }
}

.preview--done {
    justify-content: center;
    align-items: center;
    background: url(../assets/img/spiral_modal.png), $color-secondary;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%;

    &__text {
        @include font($font-primary, 30px, $color-primary, $uppercase);

    }
}


/*info-block*/
.info-block {
    min-height: 915px;

    @include mobile {
        padding-top: 220px;
    }
}

.info-desc {
    &__title {
        @include font($font-primary, 50px, $color-primary, $uppercase);

        @include mobile {
            font-size: 30px;
        }
    }

    &__subtitle {
        @include font($font-primary, 80px, transparent, $uppercase);
        text-shadow: 0px 0px 1px rgba(253, 189, 19, 0.5);

        @include mobile {
            font-size: 30px;
        }
    }
}

.instruction {
    width: 100%;

    &__animation {
        width: 100%;

        img {
            width: 80%;
            transform: translateX(-180px);

            @include tablet {
                width: 100%;
                transform: translateX(0);
            }
        }
    }

    &__desk {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding-top: 20px;

    }

    &__item-container {
      

        &--second {
            transform: translateY(-35px);
        }
        &--third {
            transform: translateY(-70px);
        }

        &--fourth {
            transform: translateY(-150%);
        }

        @include tablet {
            transform: translateY(0);
            padding: 40px;
        }
    }


    &__item {
        position: relative;
        width: 250px;
        height: 250px;

        img {
            width: 100%;
            border-radius: 20px;
        }
    }

    &__number {
        position: absolute;
        top: -60px;
        left: -60px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        border-radius: 10px;
        background-color: $color-primary;
        @include font($font-primary, 30px, $color-basic, $uppercase);

        @include mobile {
            top: -30px;
            left: -30px;
        }

    }

    &__text {
        position: absolute;
        right: 0;
        transform: translateY(-100%);
        width: 200px;
        padding: 20px 0;
        @include font($font-primary, $fsize-primary, $color-primary, $uppercase);
        text-align: center;
        border-top: 2px solid $color-primary;
    }
}

/*footer*/
.footer {
    min-height: 915px;
    background: url(../assets/img/spiral_footer.png) 50% no-repeat;
    background-position-y: 100%;
    background-size: contain;
}

.commercial {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    align-items: center;

    &__item {
       height: 100%;
    }

    .row-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 435px;
        max-width: 100%;
        transform: translateY(-50%);
    }

    .row-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1100px;
        max-width: 100%;
        transform: translateY(-50%);
    }

    &__animation {
        display: flex;
        justify-content: center;
    }
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .copyright {
        max-width: 380px;
        @include font('Roboto', $fsize-primary, rgba(255,255,255,0.3), none);
        font-weight: 200;
        line-height: 18px;
        text-align: right;
    }
}

header,
main,
footer {
    overflow: hidden;
}