
.hamburger {
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    line-height: 45px;
    padding: 10px;
    font-size: $fsize-title;
    color: $color-basic;
    border: 0;
    cursor: pointer;
    outline: none;
    z-index: 100;
  }
  
  .cross {
    background: none;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 10px;
    display: none;
    font-size: $fsize-title;
    color: $color-basic;
    border: 0;
    cursor: pointer;
    outline: none;
    z-index: 100;
  }

  @include tablet {
    .hamburger,
    .cross {
        display: block;
    }
  }