$font-primary: 'GothamBook';
$font-secondary: 'gothambold1';
$font-text: 'Open Sans', sans-serif;
$fsize-primary: 14px;
$fsize-secondary: 18px;
$fsize-title: 44px;
$fsize-subtitle: 22px;
$weight-regular: 400;
$weight-bold: 700;
$uppercase: uppercase;
$color-basic: #fff;
$color-primary: #2c4058;
$color-secondary: #4b5562;
$color-bgr1: #55b7ff;
$color-bgr2:#7e5aff;


$tablet-screen-width: 980px;
$phablet-screen-width: 768px;
$mobile-screen-width: 500px;