<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>background</title>

</head>

<body>

    <div id="app">
        <input type="text" id="text" v-model="message" />

        <button id="button" v-on:click="addItem(message) ">ADD</button>
        <ul>
            <li v-for="(item, index) in list" v-bind:style="{ background: item.color }">
                <span>{{ item.text }}</span>
            </li>
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/js1.js"></script>
</body>

</html>