@import "mixin";

.btn {
    outline: none;
    transition: 0.2s linear;

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }
}

.btn-container-header {
    transform: translateY(50%);
    float: right;
}

.btn--primary {
    min-width: 165px;
    padding: 18px;
    transform: translateX(-1px);
    @include font($font-secondary, $fsize-primary, $color-basic);
    background-color: $color-primary;
    border-radius: 0;
}

.btn--light {
    color: $color-primary;
    background-color: $color-basic;
}

.btn--small {
    min-width: 100px;
    padding: 10px 12px;
    @include font($font-secondary, $fsize-primary, $color-basic);
    background-color: $color-primary;
    border-radius: 0;
}