$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$fsize-primary: 14px;
$fsize-secondary: 16px;
$fsize-title-small: 18px;
$fsize-title: 30px;
$fsize-page-title: 36px;
$uppercase: uppercase;
$color-basic: #fff;
$color-primary: #7beec7;
$color-text: #60606e;
$color-text-secondary: #999;
$color-bgr: #efeff0;
$color-counter: #ccc;
$color-light: #cecece;

$tablet-screen-width: 992px;
$phablet-screen-width: 768px;
$mobile-screen-width: 576px;