$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$fsize-primary: 14px;
$fsize-secondary: 16px;
$size-title-small: 18px;
$fsize-title: 30px;
$uppercase: uppercase;
$color-basic: #fff;
$color-primary: #7beec7;
$color-text: #60606e;
$color-text-secondary: #999;