* {
  box-sizing: border-box; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }
  a:hover, a:active {
    color: inherit; }

.container {
  margin-top: 150px; }
  .container--footer-menu {
    padding-bottom: 50px; }

.btn {
  transition: 0.2s linear; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none; }

.btn-container-header {
  transform: translateY(50%);
  float: right; }

.btn--primary {
  min-width: 165px;
  padding: 18px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #7beec7;
  border-radius: 0; }

.btn--light {
  color: #7beec7;
  background-color: #fff; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  z-index: 2; }
  .header .container {
    height: 100%;
    margin-bottom: 125px;
    margin-top: 0; }
    .header .container .row {
      height: 100%; }

.container--slider {
  position: relative;
  width: 100%;
  height: 850px;
  padding-top: 250px;
  background: url(../assets/img/headerbgr.jpg) 50% no-repeat;
  background-size: cover; }

.header-menu .logo {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #60606e; }
  .header-menu .logo__slogan {
    margin: 0; }

.nav-link {
  position: relative;
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #60606e; }
  .nav-link:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #7beec7;
    visibility: hidden;
    transition: all 0.3s linear; }
  .nav-link:hover:before {
    visibility: visible;
    width: 40px; }

.nav--footer .nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #999; }

.container--header-bottom {
  margin-top: -25%; }

.header-item-img {
  width: 100%;
  max-height: 400px;
  object-fit: cover; }

.slider {
  width: 550px;
  max-width: 100%;
  max-height: 200px;
  margin: 0 auto; }
  .slider__item {
    height: 100%;
    overflow: hidden; }
  .slider__prev {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #60606e; }
    .slider__prev .span {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 100px;
      height: 30px;
      background-color: #7beec7; }
  .slider__slogan {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    color: #60606e;
    border: 10px solid #60606e; }
  .slider__subtitle {
    text-align: center; }

.header-info {
  position: relative; }
  .header-info .btn-container-header {
    position: absolute;
    right: 0;
    transform: translateY(50%); }

.title {
  position: relative;
  padding-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #60606e;
  z-index: 1; }
  .title::before {
    content: '';
    position: absolute;
    transform: translateY(100%);
    width: 68px;
    height: 21px;
    background-color: #7beec7;
    z-index: -1; }
  .title--small {
    padding: 20px 0 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #60606e; }
    .title--small::before {
      display: none; }
  .title--light {
    color: #fff; }

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #60606e; }

.text {
  position: relative;
  padding-bottom: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #60606e;
  line-height: 25px;
  overflow: hidden; }

.about-block {
  height: 100%; }

.about {
  padding: 10px 0 30px; }
  .about__desc {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #999;
    line-height: 30px; }

ion-icon {
  font-size: 30px;
  color: #999; }

.category-menu .title--small {
  font-size: 30px; }

.category-menu__all {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff; }
  .category-menu__all span {
    padding: 5px 20px;
    background-color: #7beec7; }

.category {
  padding: 20px; }
  .category__item {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #60606e;
    line-height: 48px;
    transition: 0.2s linear; }
    .category__item:hover, .category__item:active, .category__item:focus {
      cursor: pointer;
      color: #7beec7; }

.flex-column {
  max-width: 260px; }
  .flex-column img {
    margin: 15px; }

/*footer*/
.container-fluid--footer {
  padding: 50px 0;
  background-color: #7beec7; }

.email-block {
  padding: 20px 25px;
  background-color: #fff; }
  .email-block .title::before {
    display: none; }
  .email-block__text {
    padding: 20px 0 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #999; }
  .email-block .btn--primary {
    float: right;
    transform: translateY(-100%);
    border: none;
    border: 1px solid #7beec7; }

.input-email {
  width: 100%;
  padding: 18px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #999;
  border: 1px solid #999; }
  .input-email:focus {
    outline: none; }

.copyright {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #999; }

.social {
  padding-top: 30px; }
  .social__item {
    color: #999;
    font-size: 18px; }

.img-inner {
  width: 100%; }
