@import "variables";
@import "mixin";
@import "layouts";
@import "btn";
@import "toggle";

.header {
    position: absolute;
    top:0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 2;

    .container {
        height: 100%;
        margin-bottom: 125px;
        margin-top: 0;

        .row {
            height: 100%;
            flex-wrap: nowrap;
            align-items: center;

            @include tablet {
                align-items: flex-start;
                padding-top: 30px;
            }
        }
    }

    @include tablet {
        height: auto;
    }
}

.container--slider {
    position: relative;
    width: 100%;
    height: 850px;
    padding-top: 250px;
    background: url(../assets/img/headerbgr.jpg) 50% no-repeat;
    background-size: cover;
}

.header-menu {
    .logo {
        @include font($font-secondary, $size-title-small, $color-text);
    
        &__slogan {
            margin: 0;
        }  
    }
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
}

.nav {
    &-link {
        position: relative;
        padding-bottom: 10px;
        @include font($font-secondary, 12px, $color-text);

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background: $color-primary;
            visibility: hidden;
            transition: all 0.3s linear;
        }

        &:hover:before {
            visibility: visible;
            width: 40px;
        }
    }

    &--footer {
        .nav-link {
            @include font($font-primary, $fsize-primary, $color-text-secondary);

        }
    }

    @include tablet {
        flex-direction: column;
    }
}

.dropdown-menu {
    border: none;
}

.dropdown-item {
    @include font($font-secondary, 12px, $color-text);

    &:hover,
    &:active {
        background: $color-primary;
    }
}

.container--header-bottom {
    // height: 400px;
    margin-top: -25%;
}

.header-item-img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.slider {
    width: 550px;
    max-width: 100%;
    max-height: 200px;
    margin: 0 auto;

    &__item {
        height: 100%;
        overflow: hidden;
    }

    &__prev {
        margin: 0;
        @include font($font-secondary, $size-title-small, $color-text);
        
        .span {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 100px;
            height: 30px;
            background-color: #7beec7;    
        }
    }

    &__slogan {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100px;
        width: 100%;
        @include font($font-secondary, 48px, $color-text);
        border: 10px solid $color-text;
    }

    &__subtitle {
        text-align: center;
    }
}

.header-info {
position: relative;

    .btn-container-header {
        position: absolute;
        right: 0;
        transform: translateY(50%);
    }
}

.title {
    position: relative;
    padding-bottom: 30px;
    @include font($font-secondary, $fsize-title, $color-text);
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        transform: translateY(100%);
        width: 68px;
        height: 21px;
        background-color: $color-primary;
        z-index: -1;
    }

    &--small {
        padding: 19px 0 28px;
        @include font($font-secondary, $size-title-small, $color-text);

        &::before {
            display: none;
        }
    }

    &--light {
        color: $color-basic;
    }
}

.subtitle {
    @include font($font-primary, $fsize-primary, $color-text);
}

.text {
    position: relative;
    padding-bottom: 25px;
    @include font($font-primary, $fsize-secondary, $color-text);
    line-height: 25px;
    overflow: hidden;
}

.about-block {
    height: 100%;
}

.about {
    padding: 10px 0 30px;
    
    &__desc {
        @include font($font-primary, $fsize-primary, $color-text-secondary);
        line-height: 30px;
    }

    @include mobile {
        text-align: center;
    }
}

ion-icon {
    font-size: 30px;
    color: $color-text-secondary;
  }

.category-menu {
    .title--small {
        font-size: 30px;
    }
}

.category-menu__all {
    @include font($font-secondary, $fsize-primary, $color-basic);

    span {
        padding: 5px 20px;
        background-color: $color-primary;
    }
}

.category {
    padding: 20px;

    &__item {
        @include font($font-secondary, $fsize-primary, $color-text);
        line-height: 48px;
        transition: 0.2s linear;

        &:hover,
        &:active,
        &:focus {
            cursor: pointer;
            color: $color-primary;
        }
    }
}

.flex-column {
    display: flex;
    flex: 1 0 auto;
    max-width: 33.33%;

    img {
        display: inline-block;
        margin: 15px;
        object-fit: cover;
    }

    @include mobile {
        max-width: 50%;

        &:last-child {
            display: flex;
            flex-flow: row wrap !important;

            img {
                // display: flex;
                // flex-flow: row wrap !important;
                width: 100%;
            }
        }
    }
}


  /*footer*/
  .container-fluid--footer {
      padding: 50px 0;
      background-color: $color-primary;
  }

  .email-block {
      padding: 20px 25px;
      background-color: $color-basic;

      .title::before {
          display: none;
      }

      &__text {
          padding: 20px 0 30px;
        @include font($font-primary, $fsize-primary, $color-text-secondary);

      }

      .btn--primary {
          float: right;
          transform: translateY(-100%);
          border: none;
          border: 1px solid $color-primary;
      }
  }

  .input-email {
    width: 100%;
    padding: 18px;
    @include font($font-primary, $fsize-primary, $color-text-secondary);
    border: 1px solid $color-text-secondary;

    &:focus {
        outline: none;
    }
  }

  .copyright {
    @include font($font-primary, $fsize-primary, $color-text-secondary);
  }

  .social {
      padding-top: 30px;
      &__item {
          color: $color-text-secondary;
          font-size: 18px;
      }
  }

  .img-inner {
      width: 100%;
  }