@import "variables";
@import "mixin";
@import "layouts";
@import "btn";
@import "toggle";

/*header*/

.header {
    position: absolute;
    top:0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 2;

    .container {
        height: 100%;
        margin-bottom: 125px;
        margin-top: 0;

        .row {
            height: 100%;
            flex-wrap: nowrap;
            align-items: center;

            @include tablet {
                align-items: flex-start;
                padding-top: 30px;
            }
        }
    }

    @include tablet {
        height: auto;
    }
}

.header-menu {
    .logo {
        @include font($font-secondary, $fsize-title-small, $color-text);
    
        &__slogan {
            margin: 0;
        }  
    }
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
}

.nav {
    &-link {
        position: relative;
        padding-bottom: 10px;
        @include font($font-secondary, 12px, $color-text);

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background: $color-primary;
            visibility: hidden;
            transition: all 0.3s linear;
        }

        &:hover:before {
            visibility: visible;
            width: 40px;
        }
    }

    &--footer {
        .nav-link {
            @include font($font-primary, $fsize-primary, $color-text-secondary);

        }
    }

    @include tablet {
        flex-direction: column;
    }
}

.dropdown-menu {
    border: none;
}

.dropdown-item {
    @include font($font-secondary, 12px, $color-text);

    &:hover,
    &:active {
        background: $color-primary;
    }
}

/*end of header*/

.container--slider {
    position: relative;
    width: 100%;
    height: 850px;
    padding-top: 250px;
    background: url(../assets/img/headerbgr.jpg) 50% no-repeat;
    background-size: cover;
}

.container--header-bottom {
    // height: 400px;
    margin-top: -300px;
}

.header-item-img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.slider {
    width: 550px;
    max-width: 100%;
    max-height: 200px;
    margin: 0 auto;

    &__item {
        height: 100%;
        overflow: hidden;
    }

    &__prev {
        margin: 0;
        @include font($font-secondary, $fsize-title-small, $color-text);
        
        .span {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 100px;
            height: 30px;
            background-color: #7beec7;    
        }
    }

    &__slogan {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100px;
        width: 100%;
        @include font($font-secondary, 48px, $color-text);
        border: 10px solid $color-text;
    }

    &__subtitle {
        text-align: center;
    }
}

.header-info {
    position: relative;

    .btn-container-header {
        position: absolute;
        right: 0;
        transform: translateY(50%);
    }
}

.text {
    position: relative;
    padding-bottom: 25px;
    @include font($font-primary, $fsize-secondary, $color-text);
    line-height: 25px;
    overflow: hidden;
}

.about-block {
    height: 100%;
}

.about {
    padding: 10px 0 30px;
    
    &__desc {
        @include font($font-primary, $fsize-primary, $color-text-secondary);
        line-height: 30px;
    }

    @include mobile {
        text-align: center;
    }
}

ion-icon {
    font-size: 30px;
    color: $color-text-secondary;
  }

.category-menu {
    .title--small {
        font-size: 30px;
    }
}

.category-menu__all {
    @include font($font-secondary, $fsize-primary, $color-basic);

    span {
        padding: 5px 20px;
        background-color: $color-primary;
    }
}

.category {
    padding: 20px;

    @include phablet {
        display: flex;
        justify-content: space-evenly;
        flex-flow: row wrap;
    }

    &__item {
        @include font($font-secondary, $fsize-primary, $color-text);
        line-height: 48px;
        transition: 0.2s linear;

        &:hover,
        &:active,
        &:focus {
            cursor: pointer;
            color: $color-primary;
        }
    }
}

.flex-column {
    display: flex;
    flex: 1 0 auto;
    max-width: 33.33%;

    img {
        display: inline-block;
        margin: 15px;
        object-fit: cover;
    }

    @include mobile {
        max-width: 50%;

        &:last-child {
            display: flex;
            flex-flow: row wrap !important;

            // img {
            //     display: flex;
            // }
        }
    }
}

  /*footer*/
  .container-fluid--footer {
      padding: 50px 0;
      background-color: $color-primary;

      .container {
          margin-top: 0;
      }
  }

  .container--footer-menu .nav {
    &-item {
        position: relative;
    }

    &-item:after {
        content: '';
        position: absolute;
        top:50%;
        left: 100%;
        transform: translateY(-50%);
        width: 4px;
        height: 2px;
        background: $color-text-secondary;
    }

    &-item:last-child:after {
        width: 0;
    }

    @include tablet {
        align-items: center;

        &-item:after {
            width: 0;
        }
    }  
  }

  .email-block {
      padding: 20px 25px;
      margin-top: 20px;
      background-color: $color-basic;

      .title::before {
          display: none;
      }

      &__text {
          padding: 20px 0 30px;
        @include font($font-primary, $fsize-primary, $color-text-secondary);
      }

      &__input {
        display: flex;

        @include phablet {
            flex-flow: row wrap;
            justify-content: center;
        }
      }
  }

  .input-email {
    width: 100%;
    padding: 18px;
    @include font($font-primary, $fsize-primary, $color-text-secondary);
    border: 1px solid $color-text-secondary;

    &:focus {
        outline: none;
    }
  }

  .copyright {
    @include font($font-primary, $fsize-primary, $color-text-secondary);
  }

  .social {
      display: flex;
      justify-content: flex-end;
      padding-top: 30px;

      &__item {
          padding: 0 9px;
      }

      &__link {
          color: $color-text-secondary;
          font-size: 18px;
          transition: 0.3s linear;

          &:hover,
          &:active,
          &:focus {
              color: $color-primary;
          }
      }
  }

  .img-inner {
      width: 100%;
  }

  .title {
    position: relative;
    padding-bottom: 30px;
    @include font($font-secondary, $fsize-title, $color-text);
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        transform: translateY(100%);
        width: 68px;
        height: 21px;
        background-color: $color-primary;
        z-index: -1;
    }

    &--small {
        padding: 19px 0 28px;
        @include font($font-secondary, $fsize-title-small, $color-text);

        &::before {
            display: none;
        }
    }

    &--page {
        padding-bottom: 20px;
        font-size: $fsize-page-title;

        &::before {
            display: none;
        }
    }
    &--subtitle {
        font-size: $fsize-primary;

        &::before {
            display: none;
        }
    }

    &--light {
        color: $color-basic;
    }
}

.text {
    @include font($font-primary, $fsize-primary, $color-text);
    line-height: 30px;
}

  /*about*/
  .header-about {
    position: relative;
    min-height: 500px;
    background: url(../assets/img/site-hero2.jpg) 50% no-repeat;
    background-size: cover;
  }

  .page-title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    text-align: center;

    @include mobile {
        transform: translate(-50%, 25%);
    }
  }

.desc {
    .title {
        padding-bottom: 15px;
    }
}

.blocks {
    margin-top: 100px;

    &__title-container {
        display: flex;
        align-items: center;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        margin-right: 20px;
        background: $color-primary;
    }

    ion-icon {
        font-size: 25px;
        color: $color-basic
      }
}

.images {

    &__item {
        position: relative;
        width: 100%;
        padding: 15px 0;
    }

    &__item--hover {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 20px;
        background: rgba(255,255,255,0.6);
        opacity: 0;
        transition: all .2s linear
    }

    &__item:hover .images__item--hover,
    &__item:active .images__item--hover {
        opacity: 1;
    }

    &__pic {
        display: inline-block;
        width: 100%;
        object-fit: cover;
    }

    &__desc {
        padding: 15px 20px;
        background: $color-primary;
        color: $color-basic;
        transform: translateY(30px);
        transition: all .3s linear
    }

    &__item:hover .images__desc,
    &__item:active .images__desc {
        transform: translateY(0);
    }
}

.separate-block {
    display: flex;
    min-height: 150px;
    padding: 0 30px;
    background: $color-bgr;

    .text {
        padding: 0;
    }
    
    @include mobile {
        flex-direction: column;
        height: auto;
        padding: 30px;
    }
}

.container-response {
    padding-bottom: 100px;

    @include tablet {
        padding-bottom: 50px;
    }
}
.slider-response {
    padding-bottom: 50px;
    text-align: center;

    &__img {
        width: 82px;
        height: 82px;
        margin: 15px auto 25px;
    }

    &__pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}

.examples {
    display: flex;
    flex-flow: row wrap;


    &__item {
        width: (100% / 3);
        padding: 15px;
        text-align: center;
        
        @include mobile {
            width: 50%;
        }
    }

    &__link {
        width: 100%;
    }

    &__img {
        object-fit: cover;
    }
}

  /*end of about*/